# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\docx_s\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
