Flask==2.3.2
opencv_contrib_python==4.6.0.66
opencv_python==4.6.0.66
paddleocr==2.7.0.3
paddleocr.egg==info
pandas==2.0.1
Pillow==10.0.1
Pillow==10.1.0
PyMuPDF==1.20.2
PyPDF4==1.27.0
PyPDF4==1.27.0
Requests==2.31.0
tabula_py==2.8.2
